package components

templ Footer() {
	<footer class="mt-auto py-4 w-full text-center bg-slate-100 dark:bg-gray-900">
		<small>created by <a target="_blank" href="https://www.github.com/plutack">Plutack</a></small>
	</footer>
}
