package components

templ Footer() {
	<footer class="mt-auto py-4 w-full text-center bg-base-200 text-base-content/60 border-t border-base-300">
		<small>created by <a target="_blank" class="link link-hover text-primary" href="https://www.github.com/plutack">Plutack</a></small>
	</footer>
}
